<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <div class="text">
      {{post_text}}
  </div>
  <div class="info">
    <span>Posted by {{user.username}} on {{format_date created_at}}</span>
    |
    <a>{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article> 